<!DOCTYPE html>
<html>
<head>
    <title>Bank Employee</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
</head>
<body>
    <div id="message_sent" class="text_bubble"></div>
    <div id="chatbot_response" class="text_bubble"></div>
    <div>
        <img src="/static/images/employee.png" alt="Bank Employee">
    </div>
    <form onsubmit="submitForm(); return false;">
        <input type="text" id="user_input" onsubmit="return false" maxlength="220">
    </form>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
</body>
</html>
